
server:
  port: 8761
eureka:
  client:
    service-url:
      defaultZone: http://user:password@localhost:8761/eureka
    register-with-eureka: false       #单机应用， false表示不把eureka当做client，只作为server使用
    fetch-registry: false
    healthcheck:
      enable: true
security:
  basic:
    enabled: true
  user:
    name: user
    password: password

