
server:
  port: 8761
eureka:
  server:
    eviction-interval-timer-in-ms: 4000
    enable-self-preservation: false
  client:
    service-url:
      defaultZone: http://user:password@localhost:8761/eureka
    register-with-eureka: false       #单机应用， false表示不把eureka当做client，只作为server使用
    fetch-registry: false
    healthcheck:
      enable: true
spring:
  security:
    basic:
      enabled: true
    user:
      name: user
      password: password

